@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kütüphane Otomasyonu</h1>
    <br />
    <br />
    <p><img src="https://www.dengesende.com/images/haberler/2023/03/istanbul-un-en-iyi-4-kutuphanesi-6068.jpg" /></p>
    
</div>
