@{
    ViewData["Title"] = "Iletisim";
}
<div class="text-center">
    <h3>İletişim</h3>
    <br />
    <p>Kayseri</p>
    <p>Melikgazi/Kayseri</p>
    <br />
    <p>E-Mail:</p>
    <a href="mustafabairssolak@gmail.com">mustafabairssolak@gmail.com</a>
</div>

